name: citelang

on:
  # This should run on a push to any branch except main, gh-pages, and binoc
  push:
    branches-ignore:
      - main
      - gh-pages

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup black linter
        run: conda create --quiet --name black pyflakes

      #- name: Check Spelling
      #  uses: crate-ci/typos@592b36d23c62cb378f6097a292bc902ee73f93ef # version 1.0.4
      #  with:
      #    files: ./docs/getting_started/ ./docs/index.rst

      - name: Lint python code
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate black
          pip install black==20.8b1
          black --check citelang
          
      - name: Check imports with pyflakes
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate black
          pyflakes citelang/*.py
          pyflakes citelang/client
          pyflakes citelang/main/*.py
          pyflakes citelang/utils/fileio.py
          pyflakes citelang/utils/terminal.py
          pyflakes citelang/main/graph/base.py
          pyflakes citelang/main/graph/text.py
          pyflakes citelang/main/graph/tree.py
          pyflakes citelang/main/graph/cypher.py
          pyflakes citelang/main/graph/dot.py
          pyflakes citelang/main/graph/gexf.py
          pyflakes citelang/main/graph/graph.py
          pyflakes citelang/main/packages
          pyflakes citelang/tests

  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup black linter
        run: conda create --quiet --name testing pytest
          
      - name: Run Tests
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate testing
          pip install -e .
          cd citelang/tests
          /bin/bash test_client.sh
          pytest -xsv test_*.py
